<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ICEBOX | CRUD de productos </title>
    <%- include( '../partials/head' )%>
</head>

<body>
    <%- include( '../partials/header' )%>
        <main>
            <div class='product-crud-container'>
                <img src="../../../public/images/login.jpg" alt='login' class='user-images'>
                <div class='crud'>
                    <p class='crud-title'> CRUD de productos </p>
                    <form action="/admon" method='POST'>

                        <div class='create-form'>
                            <label for="products" class='products'><i class="fas fa-archive"></i> Nuevo producto
                            </label>
                            <input type="text" name='name-product' placeholder='Nombre del nuevo producto' required>
                        </div>

                        <div class='description-form'>
                            <label for="description" class='description'><i class="fas fa-comment-dots"></i> Descripción
                                producto</label>
                            <textarea id='description' name='description-product'
                                placeholder='Descripción del nuevo producto' rows="4" cols="50" required></textarea>
                        </div>

                        <div class='product-image'>
                            <label for="productimage" class='productimage'><i class="fas fa-camera"></i>Imagen del
                                producto </label>
                            <input type="file" name='productimage' required>
                        </div>

                        <div class='price-form'>
                            <label for="price" class='price'><i class="fas fa-money-bill-wave-alt"></i> Precio </label>
                            <input type="number" name='price' placeholder='$123.45' required>
                        </div>
                        <div class='crud-buttons'>
                            <div class='create-button'>
                                <button type='submit' class='button'> Crear producto </button>
                            </div>
                            <div class='modify-button'>
                                <button type='submit' class='button'> Modificar producto </button>
                            </div>
                            <div class='delete-button'>
                                <button type='reset' class='button'> Borrar datos </button>
                            </div>
                    </form>
                    <div class='list-button'>
                        <form action="/products" method="get">
                            <button type='submit' class='button'> Lista de Productos </button>
                        </form>
                    </div>
                </div>
            </div>


            <%- include ('../partials/footer') %>
</body>

</html>