<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ICEBOX | Registro productos </title>
    <%- include( '../partials/head' )%>
</head>

<body>
    <%- include( '../partials/header' )%>
        <main>
            <div class='product-crud-container'>
                <img src="../../../public/images/background.jpg" alt='login' class='user-images'>
                <img src="../../../public/images/background.jpg" alt='login' class='user-images'>
                <div class='crud'>
                    <p class='crud-title'> Registro productos </p>
                    <form action="/admon" method='POST'>

                        <div class='create-form'>
                            <label for="products" class='products'><i class="fas fa-archive"></i> Nuevo producto
                            </label>
                            <input type="text" name='name' placeholder='Nombre del nuevo producto' required>
                        </div>

                        <div class='description-form'>
                            <label for="description" class='description'><i class="fas fa-comment-dots"></i> Descripción
                                producto</label>
                            <textarea id='description' name='description' placeholder='Descripción del nuevo producto'
                                rows="4" cols="50" required></textarea>
                        </div>

                        <div class='product-image'>
                            <label for="productimage" class='productimage'><i class="fas fa-camera"></i>Imagen del
                                producto </label>
                            <input type="file" name='image' required>
                        </div>

                        <div class='price-form'>
                            <label for="price" class='price'><i class="fas fa-money-bill-wave-alt"></i> Precio del
                                producto </label>
                            <input type="number" name='price' placeholder='$1234' required>
                        </div>

                        <div class='color-form'>
                            <label for="color" class='color'><i class="fas fa-fill-drip"></i> Color del producto
                            </label>
                            <select name="color" id="color">
                                <option value="1" selected> Rojo </option>
                                <option value="2"> Blanco </option>
                                <option value="3"> Café </option>
                                <option value="4"> Rosado </option>
                                <option value="5"> Amarillo </option>
                                <option value="6"> Gris </option>
                                <option value="7"> Verde </option>
                                <option value="8"> Morado </option>
                                <option value="9"> Negro </option>
                                <option value="10"> Azul</option>

                            </select>
                        </div>

                        <div class='category-form'>
                            <label for="category" class='category'><i class="fas fa-gamepad"></i> Categoria del producto
                            </label>
                            <select name="category" id="category">
                                <option value="1" selected> Accesorios para Consolas </option>
                                <option value="2"> Componentes de PC </option>
                                <option value="3"> Tablets y accesorios </option>
                                <option value="4"> Otros </option>
                                <option value="5"> Videojuegos </option>
                                <option value="6"> Repuestos de PC Gaming </option>
                                <option value="7">Repuestos de Consolas </option>
                                <option value="8"> Máquinas de juegos </option>
                                <option value="9"> Consolas </option>
                                <option value="10"> Accesorios para PC Gaming</option>
                            </select>
                        </div>

                        <div class='trademark-form'>
                            <label for="trademark" class='trademark'><i class="fas fa-feather-alt"></i> Marca del
                                producto </label>
                            <select name="trademark" id="trademark">
                                <option value="1" selected> Activision </option>
                                <option value="2"> Atari </option>
                                <option value="3"> Bandai </option>
                                <option value="4"> Blizzard </option>
                                <option value="5"> Riot Games </option>
                                <option value="6"> Capcom </option>
                                <option value="7"> Epic Games </option>
                                <option value="8"> Konami </option>
                                <option value="9"> Microsoft </option>
                                <option value="10"> Nintendo </option>
                            </select>
                        </div>


                        <div class='genre-form'>
                            <label for="genre" class='genre'><i class="fas fa-dice"></i> Género del producto </label>
                            <select name="genre" id="genre">
                                <option value="1" selected> Terror </option>
                                <option value="2"> Shooters </option>
                                <option value="3"> Carreras </option>
                                <option value="4"> Rol </option>
                                <option value="5"> Juegos de mesa </option>
                                <option value="6"> Simulación </option>
                                <option value="7"> Estrategia </option>
                                <option value="8"> Deportes </option>
                                <option value="9"> Arcade </option>
                                <option value="10"> Acción </option>
                            </select>
                        </div>
                    </form>
                    <div class='crud-buttons'>

                        <div class='create-button'>
                            <form action="/admon" method="POST">
                                <button type='submit' class='button'> Crear producto </button>
                            </form>
                        </div>


                        <div class='list-button'>
                            <form action="/products" method="GET">
                                <button type='submit' class='button'> Lista de Productos </button>
                            </form>
                        </div>
                    </div>
                </div>


                <%- include ('../partials/footer') %>
</body>

</html>