<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICEBOX | Detalle del producto </title>
    <%- include( '../partials/head' )%>
</head>

<body>
    <%- include( '../partials/header' )%>
        <main>
            <section class='product'>
                <img src="../../../public/images/background.jpg" alt='login' class='images'>
                <div class='list-products'>
                    <i class="fas fa-info-circle"></i>
                    <h2>
                        <%= detail.name_product %>
                    </h2>
                </div>
            </section>
            <%- include ('../partials/footer') %>

</body>

</html>