<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICEBOX | Detalle Producto</title>
    <%- include ('../partials/head') %>
</head>
<body>
    <%- include ('../partials/header') %>
        
<main>
    <div class="section bg-gray text-center" id="especificaciones">
        <div class="container">
            <h2 class="h2 f-light">Especificaciones técnicas</h2>
            <div class="row">
                <div class="img-col"><img src="../../../public/images/ps5.jpg" alt="PS5" class="img-fluid" />
                </div>
                <div class="info-col">
                    <div class="table">
                        <div class="cell-row">
                            <div class="cell cell-title">CPU</div>
                            <div class="cell cell-content">x86-64-AMD Ryzen™ Zen 2<br />
                                8 nucleos/16 hilos<br />
                                frecuencia variable, hasta 3.5GHz</div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">GPU</div>
                            <div class="cell cell-content">Motor de gráficos basado en AMD Radeon ™ RDNA 2<br />
                                Aceleración Ray Tracing<br />
                                Frecuencia variable, hasta 2.23 GHz (10.3 teraflops)</div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">Memoria</div>
                            <div class="cell cell-content">
                                GDDR6 16GB<br />
                                ancho de banda de 448GB/s
                            </div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">SSD</div>
                            <div class="cell cell-content">
                                825GB<br />
                                ancho de banda 5.5GB/s (raw)
                            </div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">Formato de disco de videojuego PS5</div>
                            <div class="cell cell-content">
                                Ultra HD Blu-Ray, hasta 100GB/disco
                            </div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">Salida de video</div>
                            <div class="cell cell-content">
                                Soporte TVs 4K 120H, Tvs 8Kç, VRR<br />
                                (Específicamente para HDMI versión 2.1)
                            </div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">Audio</div>
                            <div class="cell cell-content">
                                Tempest 3D AudioTech
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ESPECIFICACIONES DE PS5-->


    <%- include ('../partials/footer') %>
</body>

</html>