<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Icebox | Product Detail </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cd7ff4f5a7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <header class='main-header'>
        <div class='main-header-top'>
            <nav class='left-nav-bar'>
                <div class='menu-button'>
                    <a href='/menu'><i class="fas fa-bars"></i></a>
                </div>
            </nav>
            <nav class='center-nav-bar'>
                <a title='home' href="/index"><img src='/images/logo2.svg' class='logo' alt='home'></a>
            </nav>
            <nav class='right-nav-bar'>
                <div class='cart'>
                    <a href='/productCart'><i class="fas fa-shopping-bag "></i></a>
                </div>
                <div class='log-in'>
                    <a href='/login'><i class="fas fa-user-circle"></i></a>
                </div>
            </nav>
        </div>
    </header>

    <!--ESPECIFICACIONES DE PS5  -  capaz mejor poner la foto directamente???  -->
    <div class="section bg-gray text-center" id="especificaciones">
        <div class="container">
            <h2 class="h2 f-light">Especificaciones técnicas</h2>
            <div class="row">
                <div class="img-col"><img src="/arquivos/ps5.png?v=637299251593000000" alt="PS5" class="img-fluid" />
                </div>
                <div class="info-col">
                    <div class="table">
                        <div class="cell-row">
                            <div class="cell cell-title">CPU</div>
                            <div class="cell cell-content">x86-64-AMD Ryzen™ Zen 2<br />
                                8 nucleos/16 hilos<br />
                                frecuencia variable, hasta 3.5GHz</div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">GPU</div>
                            <div class="cell cell-content">Motor de gráficos basado en AMD Radeon ™ RDNA 2<br />
                                Aceleración Ray Tracing<br />
                                Frecuencia variable, hasta 2.23 GHz (10.3 teraflops)</div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">Memoria</div>
                            <div class="cell cell-content">
                                GDDR6 16GB<br />
                                ancho de banda de 448GB/s
                            </div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">SSD</div>
                            <div class="cell cell-content">
                                825GB<br />
                                ancho de banda 5.5GB/s (raw)
                            </div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">Formato de disco de videojuego PS5</div>
                            <div class="cell cell-content">
                                Ultra HD Blu-Ray, hasta 100GB/disco
                            </div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">Salida de video</div>
                            <div class="cell cell-content">
                                Soporte TVs 4K 120H, Tvs 8Kç, VRR<br />
                                (Específicamente para HDMI versión 2.1)
                            </div>
                        </div>
                        <div class="cell-row">
                            <div class="cell cell-title">Audio</div>
                            <div class="cell cell-content">
                                Tempest 3D AudioTech
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ESPECIFICACIONES DE PS5-->


    <footer>
        <div class='main-footer'>
            <ul class="list-general">
                <li class="list"><a href="#">Home</a></li>
                <li class="list"><a href="#">Servicios</a></li>
                <li class="list"><a href="#">Garantía</a></li>
                <li class="list"><a href="#">Acerca de</a></li>
                <li class="list"><a href="#">Terminos</a></li>
                <li class="list"><a href="#">Política de privacidad</a></li>
            </ul>
            <p class="copyright">Icebox © 2021</p>
        </div>
    </footer>
</body>

</html>