* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

.images {
  min-height: 100%;
  width: 100vw;
  height: auto;
}

.product {
  position: relative;
  display: block;
  text-align: center;
  font-size: 2vw;
}

.product-name {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5vw;
  padding: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border-bottom: 1px #fff solid;
}

.product-description {
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
  position: absolute;
  margin: 10px 0px 10px 0px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.product-details {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  background-color: #fff;
  letter-spacing: 0.07143rem;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 450ms ease;
}

.product-details a {
  color: #000;
}

.product-details:hover {
  background-color: #30fde8;
}
