* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

.main-header {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  width: 100vw;
  box-shadow: -1px 11px 15px 3px rgba(0, 0, 0, 0.59);
}

.main-header-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  height: 17vw;
  padding: 0px 20px 0px 20px;
}

.logo {
  max-width: 20vw;
  text-align: center;
  width: 100%;
  padding: 7px;
  margin: 0px 0px 0px 110px;
}

.right-nav-bar {
  display: flex;
  justify-content: space-between;
}

.cart,
.log-in,
.admon {
  padding: 10px;
}

a {
  color: #30fde8;
  text-decoration: none;
  pointer-events: auto;
}

a:hover {
  color: #fbff00;
  pointer-events: auto;
}

.main-header-bottom {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #000;
  background-color: #30fde8;
  margin: 17vw 0vw 0vw 0vw;
  border-top: #fff 3px solid;
  padding: 10px;
  font-size: 1.2vw;
  box-shadow: -1px 11px 15px 3px rgba(0, 0, 0, 0.59);
  transition: all 450ms ease;
}

.main-header-bottom:hover {
  background-color: #fbff00;
}

.fas {
  color: #30fde8;
  font-size: 2vw;
  transition: all 450ms ease;
}

.fas:hover {
  color: #fbff00;
}

.main-footer {
  border-top: #fff 1px solid;
  background-color: #000000;
  font-size: 1vw;
  width: 100%;
  text-align: center;
}

.list-general {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin: 40px 40px 20px 0px;
}

.list {
  padding: 10 px;
  margin: 0px 40px 0px 40px;
}

.copyright {
  margin: 10px 0px 100px 0px;
  text-align: center;
  padding: 20px;
  color: #aaa;
  margin-bottom: 0;
}
