section img {
  display: block;
  margin: auto;
  width: 100%;
}

section div.grid-productDetail-container {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  height: 50%;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5%;
  margin: auto;
}

section div.review-product {
  background-color: #000;
  border-radius: 4rem;
  padding: 5rem;
}

section div.stars-product {
  font-size: 5rem;
  background-color: #000;
  color: #30fde8;
  padding: 2rem;
  border-radius: 3rem;
  border-bottom: 0.5rem solid #fff;
  margin: 3rem;
}

section div.stars-product:hover {
  color: #fbff00;
}

section div h2.available {
  font-size: 2rem;
  font-style: normal;
  font-weight: lighter;
  color: #09ff00;
}

section div h2.review-title {
  font-size: 5rem;
}

section div h2.review-creator {
  font-size: 2.3rem;
  font-weight: lighter;
  font-style: oblique;
}

section div h1.review-description {
  font-size: 2.5rem;
  font-weight: lighter;
  margin: 4rem;
}

section div h2.review-buy {
  font-size: 4rem;
  margin: 4rem;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #30fde8;
  color: #000;
}

section div h2.review-buy:hover {
  background-color: #fbff00;
  color: #000;
  cursor: pointer;
}

section div h2.review-buy i:hover {
  transform: rotate(90deg);
}

section div img.productDetail-image {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 17px 17px rgba(0, 0, 0, 0.74);
}

@media (max-width: 1279px) {
  section div.grid-productDetail-container {
    width: 70%;
  }
  section div img.productDetail-image {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 851px) {
  section div.grid-productDetail-container {
    grid-template-columns: 1fr;
  }
  section div img.productDetail-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 851px) {
  section div.grid-productDetail-container {
    grid-template-columns: 1fr;
  }
  section div img.productDetail-image {
    width: 100%;
    height: auto;
  }
}
