<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ICEBOX | Shopping Cart </title>
    <%-include ('../partials/src') %>
</head>

<body>
    <%-include ('../partials/navBar') %>

        <section class='productDetail-container'>


            <div class='grid-productDetail-container'>
                <div class='review-product'>
                    <div class='stars-product'>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <h2 class='available'> Disponible </h2>
                    <h2 class='review-title'> HALO INFINITE </h2>
                    <h2 class='review-creator'> MICROSOFT </h2>
                    <h1 class='review-description'>¡Comienza la siguiente época de Halo! Para celebrar el 20.º
                        aniversario de la franquicia, la beta multijugador de Halo Infinite ya está disponible para
                        jugar de forma gratuita en Xbox y PC. Comienza tu viaje personal de Spartan hoy con la Temporada
                        1, "Heroes of Reach", y no te pierdas los próximos eventos en el juego por tiempo limitado y
                        premios exclusivos. </h1>
                    <h2 class='review-creator'> $20 usd </h2>
                    <h2 class='review-buy'><i class="fas fa-shopping-cart"></i> Agregar al carrito </h2>
                    <h2 class='review-buy'><i class="fas fa-money-bill-alt"></i> Comprar ahora </h2>
                </div>

                <img src="/images/halo02.png" alt="" class='productDetail-image'>
            </div>

        </section>


        <%-include ('../partials/footer') %>

</body>
<script src="/JS/script.js">
</script>

</html>