<footer class='main-footer'>
    <div class='main-footer-top'>
        <div class="footer-top">
            <a href='/index'>
                <p class='buttons-footer'> Home </p>
            </a>
            <a href="#">
                <p class='buttons-footer'> Quienes Somos </p>
            </a>
            <a href="/login">
                <p class='buttons-footer'> Inicio sesión </p>
            </a>
            <a href="/register">
                <p class='buttons-footer'> Nuevo usuario </p>
            </a>
            <a href="/admon">
                <p class='buttons-footer'> Registro productos </p>
            </a>
        </div>
    </div>
    <div class='footer-bottom'>
        <p class='copyright'> ICEBOX 2021</p>
    </div>
</footer>