<footer class='main-footer'>
    <div class='main-footer-top'>
        <div class="footer-top">
           <p class='buttons-footer'> Home </p>
           <p class='buttons-footer'> Quienes Somos </p>
           <p class='buttons-footer'> Inicio sesión </p>
           <p class='buttons-footer'> Nuevo usuario </p>
           <p class='buttons-footer'> Menú </p>
        </div>          
    </div>
    <div class ='footer-bottom'>
        <p class ='copyright'> ICEBOX 2021</p>
     </div>   
</footer>