<footer>
    <div class='main-footer'>
        <ul class="list-general">
            <li class="list"><a href="/index">Home</a></li>
            <li class="list"><a href="#">Servicios</a></li>
            <li class="list"><a href="#">Garantía</a></li>
            <li class="list"><a href="#">Acerca de</a></li>
            <li class="list"><a href="#">Terminos</a></li>
            <li class="list"><a href="#">Política de privacidad</a></li>
        </ul>
        <p class="copyright">Icebox © 2021</p>
    </div>
</footer>