<header class='main-header'>
    <div class='main-header-top'>
        <nav class='left-nav-bar'>
            <div class='menu-button'>
                <a href='/menu'><i class="fas fa-bars"></i></a>
            </div>
        </nav>
        <nav class='center-nav-bar'>
            <a title='home' href="/index"><img src='../../../public/images/Logo2.svg' class='logo' alt='home'></a>
        </nav>
        <nav class='right-nav-bar'>
            <div class='cart'>
                <a href='/productCart'><i class="fas fa-shopping-bag "></i></a>
            </div>
            <div class='log-in'>
                <a href='/login'><i class="fas fa-user-circle"></i></a>
            </div>
        </nav>
    </div>
</header>