<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ICEBOX | Error </title>
    <%-include ('../partials/src') %>
</head>

<body>
    <%-include ('../partials/navBar') %>
        <section class='list-users-container'>
            <div class='list-users-information'>
                <div class='sad-face'><i class="fas fa-sad-cry"></i></div>
                <div class='list-users-title'> 404 | Página no encontrada </div>
                <div class='userLogged-email '>
                    La página a la cual intentas acceder no existe. Es todo lo que sabemos.
                </div>

        </section>

        <%-include ('../partials/footer') %>

</body>
<script src="/JS/script.js">
</script>

</html>