<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ICEBOX | HOME </title>
    <%-include ('../partials/src') %>
</head>

<body>
    <%-include ('../partials/navBar') %>
        <div class='big-container'>

            <section class='products-container'>
                <img src="/images/halo.jpg" alt="">
                <div class='product-text'>
                    <div class='arrow_left'><i class="fas fa-arrow-left"></i></div>
                    <div class='arrow_right'><i class="fas fa-arrow-right"></i></div>
                    <h1 class='products-title'>HALO INFINITE</h1>
                    <h2 class='products-description'>La legendaria saga Halo regresa con la campaña de Master Chief más
                        amplia hasta la fecha y una
                        experiencia multijugador gratuita revolucionaria.</h2>
                    <h2 class='products-price'>Ahora disponible con Game Pass</h2>
                    <h2 class='products-notes'> <a href="/productDetail"> Ver más</h2></a>
                </div>
            </section>

            <section class='products-container'>
                <img src="/images/ps5.jpg" alt="">
                <div class='product-text'>
                    <div class='arrow_left'><i class="fas fa-arrow-left"></i></div>
                    <div class='arrow_right'><i class="fas fa-arrow-right"></i></div>
                    <h1 class='products-title'>PLAY STATION 5</h1>
                    <h2 class='products-description'>Observa más de cerca la interfaz de usuario de la consola PS5 y
                        descubre algunas de las nuevas maneras de jugar.</h2>
                    <h2 class='products-notes'> <a href="/productDetail"> Ver más</h2></a>
                </div>
            </section>

            <section class='products-container'>
                <img src="/images/books.jpg" alt="">
                <div class='product-text'>
                    <div class='arrow_left'><i class="fas fa-arrow-left"></i></div>
                    <div class='arrow_right'><i class="fas fa-arrow-right"></i></div>
                    <h1 class='products-title'>Biblioteca Digital </h1>
                    <h2 class='products-description'>Trabajamos diariamente para ofrecerte los títulos que estás
                        buscando en
                        diversas áreas como: novelas, ficción, diccionarios, libros universitarios, cuentos infantiles y
                        los
                        best sellers de moda! todo a un solo clic.</h2>
                    <h2 class='products-notes'> <a href="/productDetail"> Ver más</h2></a>
                </div>
            </section>

        </div>






        <%-include ('../partials/footer') %>

</body>
<script src="/JS/script.js">
</script>

</html>