<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICEBOX | Registro </title>
    <%- include( '../partials/head' )%>
</head>

<body>
    <%- include( '../partials/header' )%>
        <main>
            <section class='product'>
                <img src="../../../public/images/login.jpg" alt='login' class='images'>
                <div class='register'>
                    <p class='register-title'> Registrate </p>
                    <form action="/register" method='POST'>
                        <div class='new-name-form'>
                            <label for="name" class='name'><i class="fas fa-user-circle"></i> Nombre completo </label>
                            <input type="text" name='name' placeholder='Nombre completo' required>
                        </div>

                        <div class='new-email-form'>
                            <label for="email" class='email'><i class="fas fa-envelope"></i> Dirección de correo
                            </label>
                            <input type="email" name='email' placeholder='micorreo@direccion.com' required>
                        </div>

                        <div class='new-password-form'>
                            <label for="password" class='password'><i class="fas fa-key"></i>Nueva contraseña
                            </label>
                            <input type="password" name='password' placeholder='*********' required>
                        </div>

                        <div class='confir-new-password-form'>
                            <label for="password" class='password'><i class="fas fa-key"></i>Confirmar
                                contraseña
                            </label>
                            <input type="password" name='password' placeholder='*********' required>
                        </div>

                        <div class='image-profile-form'>
                            <label for="image" class='image'><i class="fas fa-camera"></i> Imagen de
                                perfil </label>
                            <input type="file" name='image' required>
                        </div>

                        <div class='save-promotions'>
                            <label for="save" class='send-email'>
                                <input type="checkbox" name='save' value='save'>
                                Me gustaría recibir correos con promociones, ofertas y nuevos productos
                            </label>
                        </div>

                        <div class='main-button'>
                            <button type='submit' class='button'> Crear cuenta </button>
                        </div>
                        <div class='delete-button'>
                            <button type='reset' class='button'> Borrar datos </button>
                        </div>
                    </form>
                </div>
            </section>
            <%- include ('../partials/footer') %>
</body>

</html>